@{
    ViewData["Title"] = "About";
}

<main id="main">

<!-- ======= About Section ======= -->
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="~/assets/img/Profile-Pic.jpg" class="img-fluid rounded b-shadow-a" alt="Profile Picture">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p><span class="title-s">Name: </span> <span>Chris Randall</span></p>
                                        <p><span class="title-s">Profile: </span> <span>full stack developer</span></p>
                                        <p><span class="title-s">Email: </span> <span>Chris.Crandall@outlook.com</span></p>
                                        <p><span class="title-s">Phone: </span> <span>(580) 478-4420</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-mf">
                                <p class="title-s">Skill</p>
                                <span>HTML</span> <span class="pull-right">62.9%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 62.9%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>CSS3</span> <span class="pull-right">29%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 39%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>MVC</span> <span class="pull-right">1.6%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 1.6%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>JAVASCRIPT</span> <span class="pull-right">6.5%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 6.5%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        About me
                                    </h5>
                                </div>
                                <p class="lead">
                                    I am a dedicated and aspiring programmer with a relentless passion for solving complex problems through the art of coding. From the moment I wrote my first "Hello, World!" program, I was hooked on the limitless potential of technology. In addition to my programming skills, I have hands-on experience in IT and network engineering, where I've honed my abilities to design, troubleshoot, and maintain robust network infrastructures. As a lifelong learner, I've immersed myself in various programming languages and frameworks, constantly seeking opportunities to expand my skills. Whether it's building web applications, crafting elegant algorithms, or optimizing network performance, I am driven by a desire to create innovative solutions that make a positive impact. With a strong foundation in logic and a knack for turning ideas into functional software, I'm excited to embark on a programming and network engineering career where I can contribute to the ever-evolving tech landscape, ensure seamless connectivity, and turn concepts into reality, one line of code or network configuration at a time. Let's build a brighter, interconnected future together!
                                </p>
                                <p class="lead">

                                </p>
                                <p class="lead">

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Section -->
</main>
