@{
    ViewData["Title"] = "Services";
}

<main id="main"> 
    <section id="services" class="services-mf pt-5 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a">
                            Services
                        </h3>
                        <p class="subtitle-a">
                            Skills aquired
                        </p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Web Design</h2>
                            <p class="s-description text-center">
                                Strong foundation in front-end web development, with expertise in HTML, CSS, and JavaScript. Keen eye for design aesthetics and user experience, allowing for visually engaging and intuitive websites that prioritize user satisfaction.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Web Development</h2>
                            <p class="s-description text-center">
                                Adept at collaborating with dynamic teams to build high-quality websites and identify opportunities to enhance the user experience.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="bi bi-wifi"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Networking</h2>
                            <p class="s-description text-center">
                                Extensive computer networking skills, including experience in configuring and managing routers, switches, and firewalls. Proficient in troubleshooting network issues and optimizing network performance to ensure seamless connectivity and data flow.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="bi bi-database"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Server Administration</h2>
                            <p class="s-description text-center">
                                Proficiently managing various operating systems and server platforms. Configuring, securing, and maintaining servers to ensure optimal performance, reliability, and data integrity within complex IT infrastructures.
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- </section>End Services Section -->
       

</main>
