@{
    ViewData["Title"] = "Testimonials";
}

<main id="main">
    <div class="testimonials paralax-mf bg-image" style="background-image: url(assets/img/Personal-bg.jpg)">
        <!-- <div class="overlay-mf"></div> -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="testimonial-box">
                                    <div class="author-test">
                                        <img src="~/assets/img/Chanel-Dubreuil.png" alt="" class="rounded-circle b-shadow-a">
                                        <span class="author">Chanel Dubreuil</span>
                                    </div>
                                    <div class="content-test">
                                        <p class="description lead">
                                            <a href="https://www.linkedin.com/in/chanel-dubreuil-1a3393285/" class="bi bi-linkedin author"></a>
                                            <a href="http://www.chaneldubreuil.com/" target="_blank" class="text-light">chaneldubreuil.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="testimonial-box">
                                    <div class="author-test">
                                        <img src="~/assets/img/GeneCathcart.png" alt="" class="rounded-circle b-shadow-a">
                                        <span class="author">Gene Cathcart</span>
                                    </div>
                                    <div class="content-test">
                                        <p class="description lead">
                                            <a href="https://www.linkedin.com/in/chanel-dubreuil-1a3393285/" class="bi bi-linkedin author"></a>
                                            <a href="http://www.genecathcart.com/" target="_blank" class="text-light">genecathcart.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="testimonial-box">
                                    <div class="author-test">
                                        <img src="~/assets/img/AidenMcQuillan.jpg" alt="" class="rounded-circle b-shadow-a">
                                        <span class="author">Aidan McQuillan</span>
                                    </div>
                                    <div class="content-test">
                                        <p class="description lead">
                                            <a href="" class="bi bi-linkedin author"></a>
                                            <a href="http://aidanmcquillan.com/" target="_blank" class="text-light">aidanmcquillan.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="testimonial-box">
                                    <div class="author-test">
                                        <img src="~/assets/img/ZoeyBateman.png" alt="" class="rounded-circle b-shadow-a">
                                        <span class="author">Zoey Bateman</span>
                                    </div>
                                    <div class="content-test">
                                        <p class="description lead">
                                            <a href="" class="bi bi-linkedin author"></a>
                                            <a href="http://zoeybateman.com/" target="_blank" class="text-light">zoeybateman.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="testimonial-box">
                                    <div class="author-test">
                                        <img src="~/assets/img/AliciaVillegas.jpg" alt="" class="rounded-circle b-shadow-a">
                                        <span class="author">Alicia Villegas</span>
                                    </div>
                                    <div class="content-test">
                                        <p class="description lead">
                                            <a href="" class="bi bi-linkedin author"></a>
                                            <a href="http://aliciavillegas.net/" target="_blank" class="text-light">aliciavillegas.net</a>
                                        </p>
                                    </div>
                                </div>
                            </div><!-- End testimonial item -->
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                    <!-- <div id="testimonial-mf" class="owl-carousel owl-theme">

                    </div> -->
                </div>
            </div>
        </div>
    </div><!-- End Testimonials Section -->
</main>
